<div class="filters">
    <button onclick="showFilters()">Filters</button>
    <form method="get" id="filter" class="filter">
        <div>
            <h6>Vervoersmiddel</h6>
            <label><input type="checkbox" value="plane">Vliegtuig</label><br>
            <label><input type="checkbox" value="car">Auto</label><br>
            <label><input type="checkbox" value="train">train</label><br>
        </div>
        <input type="submit" value="yoo" onclick="checkFilters()">
    </form>
</div>

<script>
  function showFilters() {
    const element = document.querySelector("#filter");
    element.classList.toggle("mystyle");
  }


</script>