<header>
    <div class="container flex">
        <a href="../"><img src="/images/logo.png"/></a>
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../results">Results</a></li>
        </ul>
    </div>
</header>