<header>
    <div class="container flex">
        <p>Logo hier</p>
        <ul>
            <li><a href="../">Home</a></li>
            <li><a href="../results">Results</a></li>
        </ul>
    </div>
</header>