<!doctype html>
<html lang="en">
<head>
    <%- include('components/head'); %>
</head>
<body>
<%- include('components/header'); %>
<div class="container">
    <h1 style="margin-top: 40px;">404! Hier is niks!</h1>
</div>
</body>
</html>