<!doctype html>
<html lang="en">
<head>
    <%- include('components/head'); %>
</head>
<body>
    <%- include('components/header'); %>
    <div class="container">
        <h1><%= message %></h1>
    </div>
</body>
</html>